 <div  class="col-md-4" id="photo-<%= photo.id %>">
	<%= image_tag(photo.image.thumb.url, class: "img-rounded photo-source",  data: { :url => photo_path(photo)} ) %>
	<p><strong>Title:</strong> <%= photo.title %></p>
	<p><strong>Date:</strong>  <%= photo.updated_at.strftime("%Y/%m/%d") %></p>
	<p><strong>Tag:</strong>   <%= photo.tag %></p>
</div>

        
