<h1>Photos展示页</h1>
 <div class="row content">
    <div class="col-sm-3">
      <h4>Tags</h4>
      <br>
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "Untag"    , '#' , class: "btn" %></li>
        <li><%= link_to "Family"   , '#' , class: "btn" %></li>
        <li><%= link_to "Animals"  , '#' , class: "btn" %></li>
        <li><%= link_to "Children" , '#' , class: "btn" %></li>
      </ul><br><br>
      <%= link_to "Upload Photo", new_photo_path , class: "btn btn-lg btn-info btn-block" %>
    </div>
  

    <div class="col-sm-9 photos-content">
      <h3>photos in family</h3>
        <%= @photos.each do |photo| %>
          <div id="photo-<%= photo.id %>" class="col-md-4">
            <%= image_tag( photo.image.thumb.url, class: "thumbnail") %>
          </div>
        <% end %>
    </div>
  </div>

