<h1>Photos展示页</h1>
 <div class="row content">
    <div class="col-sm-3">
      <h4>Tags</h4>
      <br>
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "Untag"    , empty_photos_path    , remote: true,class: "btn" %></li>
        <li><%= link_to "Family"   , family_photos_path   , remote: true,class: "btn" %></li>
        <li><%= link_to "Animals"  , animals_photos_path  , remote: true,class: "btn" %></li>
        <li><%= link_to "Children" , children_photos_path , remote: true, class: "btn" %></li>
      </ul><br><br>
      <%= link_to "Upload Photo", new_photo_path , class: "btn btn-lg btn-info btn-block" %>
    </div>
  
    <%= render "photos_list" , :photos => @photos %>
    
  </div>

