<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
<style >
.drag-and-drog {
  opacity: 0.5;
  box-shadow:2px 12px 22px 1px #333;
}

.font-change {
  font-size: 1.5em;
}
</style>


<h1>Photos展示页</h1>
  <div class="row content">
    <div class="col-sm-3">
      <h4>Tags</h4>
      <br>
      <ul class="nav nav-pills nav-stacked" id="photo-target">
        <li><%= link_to "Untag"    , empty_photos_path    , remote: true, class: "btn", id: "untag" %></li>
        <li><%= link_to "Family"   , family_photos_path   , remote: true, class: "btn", id: "family" %></li>
        <li><%= link_to "Animals"  , animals_photos_path  , remote: true, class: "btn", id: "animals" %></li>
        <li><%= link_to "Children" , children_photos_path , remote: true, class: "btn", id: "children" %></li>
      </ul><br><br>
      <%= link_to "Upload Photo", new_photo_path , class: "btn btn-lg btn-info btn-block" %>
    </div>
    
    <div class="col-sm-9 photos-list">
     <h3 id="title">All pictures</h3>
        <% @photos.each do |photo| %>
          <%= render "photos_list" , :photo => photo %>
        <% end %>
    </div>
    
    <%= render partial: "paginate", locals: {:photos => @photos} %>

  </div>



  <script>

    $( ".photo-source" ).draggable({
        helper: "clone",
        revert: true,
        opacity: 0.4,
        start: function(evt,ui) {
          $(this).addClass("drag-and-drog");
        },
        stop: function(evt,ui) {
          $(this).removeClass("drag-and-drog");
        }
       
    });

    // 图片拖拽上传
    $( "#untag, #family, #animals, #children" ).droppable({
      over: function(event,ui) {
        var tag = $(this).attr("id");
        $( this ).html('将图片加入' + tag);
        $(this).addClass('font-change');  
      },

      out: function(event,ui) {
        var tag = $(this).attr("id");
        $( this ).html( tag );
        $(this).removeClass('font-change'); 
      },

      drop: function(event,ui) {
        var tag = $(this).attr("id");
        $( this ).html( tag );
        $(this).removeClass('font-change'); 
        if (tag == "untag") {
          tag = "empty";
        }
        var url = ui.draggable.data("url");
        $.ajax({
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: "tag=" + tag,
          url: url,
          method: 'PUT',
          dataType: "script",
        })
      }
    });

    //通过文本框修改图片标签
    $(".photos-list").on('mouseover',".source",function(){
      $(this).next().css('visibility','visible');
      $(this).css('visibility','hidden');
      $(this).next().insertBefore($(this));
    });

    $(".photos-list").on('mouseleave',".input-tag",function(){
      $(this).next().insertBefore($(this));
      $(this).prev().css('visibility','visible');
      $(this).css('visibility','hidden');
    });

    $(".photos-list").on('blur',".input-tag",function(){
      var url = $(this).find('input').attr("href");
      var tag = $(this).find('input').val(); 
      $.ajax({
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: "tag=" + tag,
        url: url,
        method: 'PUT',
        dataType: "script",
      })
    });

  </script>

