<!DOCTYPE html>
<html>
  <head>
    <title>Photos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <%= render "common/navbar" %>
  	<div class="container-fluid"> 
      <%= render "common/flashes" %>
    	<%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render "common/footer" %>

    <%= javascript_include_tag 'application' %><%= javascript_include_tag 'application' %>
    <%= yield :handwrite_javascript %>
  </body>
</html>
